NEXT_PUBLIC_POSTHOG_KEY=your_posthog_project_key_here
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
NEXT_PUBLIC_BUNNY_CDN_HOSTNAME=
NEXT_ALLOWED_DEV_ORIGINS=
APP_NAME=zaneenterprise
ENABLE_ADVANCED_LOGGING=true
LOG_STATIC_REQUESTS=false
PORT=3000
HOSTNAME=0.0.0.0
